<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">新規質問投稿</div>
      <div class="panel-body">
        
        <div class="tabs-menu">
          <ul>
            <li class="active"><%= link_to "ラジオボタンタイプ", radionew_path, :remote => true, :class =>'tab radiotab' %></li>
            <li><%= link_to 'チェックボックスタイプ', checknew_path, :remote => true, :class =>'tab checktab' %></li>
            <li><%= link_to 'テキストボックスタイプ', textnew_path, :remote => true, :class =>'tab texttab' %></li>
          </ul>
        </div>
        
        <div class="tabs-content">
          <%= render 'radionew' %>
        </div>
        
      </div>
    </div>
  </div>
</div>