.type_name {
  font-size: 80%; 
  color: #505050;/*文字色*/
  margin: 0 0 0.4em 0.4em;/*文字周りの余白*/
  padding: 0.4em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 0.8;/*行高*/
  vertical-align: middle;/*上下中央*/
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

.type_name:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.type_name_text{
  background: #DDF8DB;/*背景色*/
}

.type_name_radio{
  background: #F8DBEB;/*背景色*/
}

.type_name_check{
  background: #dbebf8;/*背景色*/
}



.form-inline .form-control {
  width: 80%;
}

margin_tb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
    color: #3F4548;
}

/* ulのデフォルトスタイルを消去 */
.tabs-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* タブの基本スタイル */
.tabs-menu li {
    float: left;
    margin-right: 8px;
    margin-bottom: -1px;
    border-radius: 4px 4px 0 0;
    /* 各プロパティをふわっと変える演出 */
    transition: all .15s;
    list-style: none;
}

.radiotab {
  background: #F8DBEB;/*背景色*/
  border-color: #F8DBEB;
  border-radius: 4px 4px 0 0;
}

.texttab{
  background: #DDF8DB;/*背景色*/
  border-color: #DDF8DB;
  border-radius: 4px 4px 0 0;
}

.checktab{
  background: #dbebf8;/*背景色*/
  border-color: #dbebf8;
  border-radius: 4px 4px 0 0;
}

.tabs-menu a {
    display: block;
    padding: 10px 20px;
    color: #557F95;
    text-decoration: none;
}

/* 非選択のタブにマウスを乗せたら色を変える */
.tabs-menu li:not(.active):hover {
    border-color: #f0f0f0 #f0f0f0 #999;
    background-color: #f0f0f0;
}

/* 選択中のタブ */
.tabs-menu .active a {
    color: #3F4548;
}

/* タブコンテンツ表示エリア */
.tabs-content {
    clear: both;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    background-color: #F8DBEB;
}



/*削除ボタン*/
#fab {/*円の部分*/
    display: block;
    width: 56px;/*幅*/
    height: 56px;/*高さ*/
    background: #03a9f4;/*背景色*/
    text-align: center;/*中央寄せ*/
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}

#fab:hover {/*ホバー時*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

#fab i {/*中央のアイコン*/
  color: white;
  line-height: 56px;/*＝幅と高さ*/
  vertical-align: middle;
  font-size: 18px;/*サイズ*/
}